* {
    margin: 0px;
    padding: 0px;
}

body {    background-color: #f7f4e9;

}

/**navbar**/

.nav {
    margin-top: 20px;
}

.box-menu {
    display: flex;
    margin-left: 100px;
}

.box-elem {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #1f1f1f;
    cursor: pointer;
}

.box-elem:hover{
    color: gray;
    text-decoration: underline
}

.box-img {
    margin-left: 65vw;
}

/**herosection**/

.herotext {
    font-family: "Bonheur Royale", cursive;
    font-weight: 200;
    font-style: normal;
    font-size: 350px;
    text-align: center;
    color: #f5221b;
}

.section{
    background-color: #f6cdcc;
    height: 2px;
    width: 85vw;
    margin-left: 7vw;
}

.hero-img{
    background: url(images/h1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 85vw;
    margin-left: 7vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

/**app section**/
.app{
    display: flex;
    align-items: center;
    height: 700px;
    margin-top: 50px;

}

.txt{
    width: 50%;
    height: 700px;
    margin-left: 7vw;

}

.vid{
    background: url(images/m1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 50%;
}

.txt h1{
    font-size: 100px;
    font-weight: 50;
    margin-bottom: 50px;
    width: 80%;
}

.txt p{
    width: 70%;
}

.btn{
    background: url(images/b1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 50%;
}

.btn:hover{
    cursor: pointer;
}

/**more section**/
.more{
    display: flex;
    align-items: center;
    height: 700px;
    margin-top: 50px;

}

.more-txt{
    width: 80%;
    height: 700px;

}

.more-vid{
    background: url(images/a1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    width: 50%;
    margin-left: 7vw;
}

.more-txt h1{
    font-size: 100px;
    font-weight: 50;
    margin-bottom: 50px;
    width: 80%;
}

.more-txt p{
    width: 70%;
}

.more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #1f1f1f;
    color: white;
    height: 50px;
    width: 30%;
}

.more-btn:hover{
    cursor: pointer;
}